:plain
  var $modal = "#{escape_javascript(render(:partial => 'share_modal', locals: { album: @album, viewers: @viewers }))}"
  $('#share-album').remove();
  $('main').append($modal);
  $('#share-album').openModal();
