!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to sharemoments.com
    %p
      User #{@album.owner.user_name} has shared
      #{@album.name} with your email address
      #{@email}.
      %br/
      Sign up using this email address to view it.
      %br/
    %p
      To login to the site, just follow this
      %a(href="#{@url}") link.
    %p Thanks for reading and have a great day!
