.navbar-fixed nav {
  background-color: #37474f;
}

.avatar-img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.nav-wrapper .avatar-img {
  margin: 15px auto;
}

.brand-logo {
  margin-left: 10px;
}

.dropdown-content li {
  font-size: 1em;
}
