.share-album-title {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  height: 66px;
  width: 100%;
  margin: 6px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.ui-front {
  z-index: 1001 !important;
}

.name-block {
  display: inline-block;
  margin: 0 5px 5px 0;
  width: auto;
  padding: 0 10px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #26a69a;
  color: white;
  font-size: 1.2rem;
}

i.mdi-content-clear {
  cursor: pointer;
}
