.photo_segment {
  position: relative;
  width: 100%;
  text-align: center;
}

.photo_segment .avatar-img {
  margin: 0px 0px -5px 10px;
}

.pa_album_title {
  margin-top: 20px;
  font-size: 24px;
  text-transform: capitalize;
}

.photo {
  display: inline-block;
  position: relative;
  margin: 10px auto;
  max-width: 90%;
}

img.fullsize {
  max-height: 90vh;
  max-width: 100%;
}

.arrow {
  position: absolute !important;
  height: 100%;
  top: 0px;
}

.arrow.next {
  right: 0px;
}

.arrow.previous {
  left: 0px;
}

i.arrow_icon {
  top: 40%;
}

.delete_photo {
  display: none;
  position: absolute;
  opacity: 0.8;
  right: 20px;
  top: 10px;
}

.photo .delete_photo:hover {
  opacity: 1;
}

i.mdi-action-delete {
  background-color: white;
  padding: 5px;
  width: 30px;
  height: 30px;
  color: #263238;
  font-size: larger;
}
