.pa_album {
  width: 65%;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.pa_album .avatar-img {
  margin: 0px 0px -10px 0px;
}

.pa_album_title {
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
}

.minimize_images {
  float: left;
  padding: 5px 5px 0px 0px;
  display: inline-block;
  vertical-align: top;
}
