.card {
  margin: 10px 0px 0px 10px;
  display: inline-block;
  float: left;
}

  @media (min-width: 768px) {
    .card {
      max-width: 23%;
      min-width: 22% } }
  @media (min-width: 992px) {
    .card {
      max-width: 23%;
      min-width: 22% } }
  @media (min-width: 1200px) {
    .card {
      min-width: 23% } }

.card-content {
  height: 50px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.avatar-img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.nav-wrapper .avatar-img {
  margin: 15px auto;
}

.dropdown-content li {
  font-size: 1em;
}

.albums_container {
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.pa_album {
  width: 90%;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.pa_album .avatar-img {
  margin: 0px 0px -10px 0px;
}

.photo_segment .avatar-img {
  margin: 0px 0px -10px 0px;
}

.pa_album_title {
  font-size: 24px;
}

.album_cards {
  width: 100%;
  display: inline-block;
  position: relative;
}

.btn-floating {
  position: absolute;
  top: 80%;
  right: -5%;
}

a.title {
  display: inline-block;
  width: 100%;
  margin: 10px;
}

.albums_divider {
  display: inline-block;
  width: 100%;
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}

.brand-logo {
  margin-left: 10px;
}

.minimize_images {
  float: left;
  padding: 5px 5px 0px 0px;
  display: inline-block;
  vertical-align: top;
}

.pa_album_images {
  width: 95%;
}

.photo_segment {
  position: relative;
  width: 100%;
  text-align: center;
}

img.fullsize {
  width: 70%;
  padding-top: 20px;
  margin: 10px auto; 
}

.arrow {
  position: absolute;
  height: 100%;
  top: 0px;
}

.arrow.next {
  right: 0px;
}

.arrow.previous {
  left: 0px;
}

i.arrow_icon {
  top: 40%;
}
