%ul#dropdown1.dropdown-content
  %li
    %a{:href => "#!"} View profile
  %li.divider
  %li
    %a{:href => "#!"} Sign out
%header.navbar-fixed
  %nav
    .nav-wrapper
      %a.brand-logo{:href => "#"} ShareMoments
      %ul#nav-mobile.right.hide-on-med-and-down
        %li
          %a{:href => "#"} Share
        %li
          %a{:href => "#"} Albums
        %li
          %a.dropdown-button{"data-activates" => "dropdown1", :href => "#!"}
            %img.avatar-img{:alt => "User", :src => "avatar.jpg"}/
